html,
body {
    height: 100%;
    overflow-y: hidden;
}

.wrap {
    min-height: 100%;
    height: 100%;
    margin: 8% auto -60px;
    padding: 1% 0;
    overflow-y: auto;

}

.wrap>div{
  height: 230%;
}

.wrap-index {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -60px;
    padding: 10% 0;
    overflow-y: auto;

}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.navbar-inverse {
    background-color: #fff;/*#00ccc5;*/
    border: none;
}

.index-page{
  margin-top: -10%;
  height: 100%;
}

.header-index{
  height: 40%;
  position: relative;
}
.header-index img{
  width: 20%;
bottom: 0%;
position: absolute;
top: 0%;
left: 0%;
right: 0%;
margin: auto;
}
.airport-img {
  position: relative;
  height: 65%;
}
.welcome-msg {
  position: absolute;
width: 100%;
height: 100%;
top: 0%;
text-align: center;
color: white;
font-family: ubuntu;
padding-top: 11%;
}
.welcome-msg div.messages div{
  font-size: 2em;
  margin-bottom: 5%;

}
.welcome-msg .actions .btn{
  background-color: #33b7b7;/*#339bb7;*/
  font-size: 2.5em;


}

.airport-img img{
  width:100%;
}
.navbar {
    min-height: 15%;
    border-bottom: 3px solid #338392;
}
.navbar-inverse .navbar-brand {
    color: #568183;
}
.navbar-inverse .navbar-nav > li > a {
    color: #568183;
}
.howitworks{
  margin-top: -5%;
}
.clouds{
  z-index: 99;
  position: relative;
  background-color: #e1edef;
}
.demo{
  height: 70%;
  width: 50%;
  margin: auto;
}
.demo img{
  width: 6%;
  margin: 0 3.8%;
}
.inline-block{
  display:inline-block;

}
.airplane{
  width: 5%;
}
#loading-container{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: gray;
top: 0px;
}
.modal-dialog {
    width: 1000px !important;
}
.modal label {
    color: #59746f;
}
.modal p {
    color: #6b6b6b;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    /*background-color: #f0f7f8 !important;*/
}
th{
  color: #337ab7 !important;
}
td{
  padding: 20px !important;
}
.btn-success {
    background-color: #20a8a3 !important;
    border-color: #398380 !important;
}
